.sortContainer {
  position: relative;
  display: flex;
  width: 160px;
  flex-direction: column;
}

.label {
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.icon {
  margin-right: 5px;
  font-size: 18px;
}

.sortSelect {
  width: 100%;
  padding: 8px 12px;
  font-size: 16px;
  color: var(--main-text);
  background-color: var(--background-secondary);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  appearance: none;
  cursor: pointer;
}

.sortSelect:focus {
  outline: none;
  border-color: var(--border-color);
}

@media (max-width: 768px) {
  .label {
    font-size: 15px;
  }

  .sortSelect {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .sortContainer {
    width: 100%;
  }

  .label {
    font-size: 14px;
  }

  .sortSelect {
    font-size: 14px;
    padding: 10px;
  }
}
