.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.modalOverlay.isOpen {
  opacity: 1;
  visibility: visible;
}

.modalContent {
  background-color: var(--background-secondary);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  position: relative;
  transform: translateY(20px);
  transition: transform 0.3s ease;
}

.modalOverlay.isOpen .modalContent {
  transform: translateY(0);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: var(--background-secondary);
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--main-color);
  text-decoration: none;
}

.closeButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--main-color);
}

.menuList {
  list-style: none;
  padding: 0;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menuItem {
  font-size: 1.2rem;
  color: var(--main-text);
  text-decoration: none;
  transition: color 0.3s;
}

.signUp {
  font-size: 1.2rem;
  color: var(--button-color);
  text-decoration: none;
  transition: color 0.3s;
}

.menuItem:hover,
.menuItem:focus {
  color: var(--main-color);
}
