.aboutSection {
  padding: 2rem;
  font-family: Arial, sans-serif;
  color: var(--main-text);
}

.purposeSection {
  text-align: center;
  padding: 2rem;
}

.purposeSection h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.purposeSection p {
  font-size: 1.2rem;
  margin-top: 0;
}

.communitySection,
.sportSection,
.responsibilitySection {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.communitySection .text,
.sportSection .text,
.responsibilitySection .text {
  flex: 1;
}

.communitySection .image,
.sportSection .image,
.responsibilitySection .image {
  flex: 1;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .purposeSection h2 {
    font-size: 1.8rem;
  }

  .purposeSection p {
    font-size: 1.1rem;
  }

  .communitySection,
  .sportSection,
  .responsibilitySection {
    gap: 1rem;
  }
}

@media (max-width: 480px) {
  .sportSection {
    flex-direction: column-reverse;
  }
  .aboutSection {
    padding: 1rem;
  }

  .purposeSection {
    padding: 1rem;
  }

  .purposeSection h2 {
    font-size: 1.5rem;
  }

  .purposeSection p {
    font-size: 1rem;
  }

  .communitySection,
  .responsibilitySection {
    flex-direction: column;
    gap: 1rem;
  }

  .communitySection .text,
  .sportSection .text,
  .responsibilitySection .text,
  .communitySection .image,
  .sportSection .image,
  .responsibilitySection .image {
    flex: none;
    width: 100%;
  }

  .learnMoreButton {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}
