.searchContainer {
  display: flex;
  align-items: center;
  justify-self: right;
  gap: 8px;
}

.searchInput {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.searchButton {
  background: none;
  border: none;

  padding: 8px;
  font-size: 20px;
  color: var(--main-text);
}

@media (max-width: 768px) {
  .searchInput {
    width: 150px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .searchContainer {
    align-items: stretch;
    gap: 5px;
  }

  .searchInput {
    width: 100%;
    font-size: 14px;
  }

  .searchButton {
    align-self: center;
    font-size: 18px;
  }
}
